@font-face {
        font-family:'Orelega One', cursor;
        src: url(fonts/OrelegaOne-Regular.ttf);
    } 
 body {
    font-family: 'Cambria', sans-serif;
        }
.foto {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
header {
 background-color: #79463d;
 padding: 30px;
 text-align: center;
 font-size: 35px;
 color: white;
}

.nav ul {
 *zoom:1;
 list-style:none;
 margin:0;
 padding:0;
 background: #9c7575;
}

.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    border-left:1px solid #79463d;
}
.nav a:hover {
    text-decoration:none;
    background: #9c7575;
}
.nav li ul {
    background:#79463d;
    border-radius: 7px;
}
.nav li ul li {
    width:200px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:rgba(0,0,0,0.2);
}

.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
}
.nav li ul li {
    overflow:hidden;
    max-height:0;
    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}
.nav ul > li:hover ul li {
    max-height:150px;
}

footer {
 background-color: #79463d;
 padding: 10px;
 text-align: center;
 text-decoration-color: #fff;
}

